[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opendatasets = "*"
opencv-python = "*"
torch = "==1.8.1"
torchvision = "==0.9.1"
jupyter = "*"
matplotlib = "*"
tqdm = "*"

[dev-packages]
kaggle = "*"
